/* CarListStyle.css */

.car-list-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    flex-direction: row;
  }
  
  .car-list-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
    
  }
  
  .car-card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     /* Estilos para cada tarjeta de automóvil (puedes personalizarlos según tus necesidades) */
  margin-bottom: 20px;
  /* Otros estilos para la tarjeta */
  }
  
  @media screen and (max-width: 768px) {
    .car-card img {
      height: 300px;
    }
  }
  
  @media screen and (min-width: 769px) {
    .car-card img {
      height: 600px;
    }
  }


  
  .car-info p {
    margin-top: 10px;
    align-items: start;
  }
  
  button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #c9302c;
  }
  .car-card-container {
    flex-wrap: wrap; /* Para que los automóviles se envuelvan a la siguiente línea si no caben en el ancho de la pantalla */
    justify-content: space-between; /* Espacio uniforme entre los automóviles */
    margin-top: 10px; /* Espacio superior para separar de la cabecera */
  }